/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.o-nav {
  padding: 1em;
}

.o-section {
  padding: 1em;
}

.o-section__title {
  margin: 1em 0;
}

.c-input {
  max-width: 250px;
}
